header h1 {
	font-size: 24pt;
}
header h2 {
	font-size: 12pt;
	font-style: italic;
}

ul {
	list-style: none; 
}

.democrat {
	color: blue;
}

.republican {
	color: red;
}

.gov_level h1 {
	font-size: 18pt;
}

.cities h1 {
	font-size: 14pt;
}

.cities h2 {
	font-size: 12pt;
}

.counties h1 {
	font-size: 14pt;
}

.state_gov h1 {
	font-size: 14pt;
}

.state_gov h2 {
	font-size: 12pt;
}

.congress h1 {
	font-size: 14pt;
}

.congress h2 {
	font-size: 12pt;
}