body {
	font-family: sans-serif;
}

header img {
	height: 10vh;
}
header h1 {
	font-size: 24pt;
}

ul {
	list-style: square; 
}

.democrat {
	color: blue;
}

.republican {
	color: red;
}

.independent {
	color: grey;
}
